/* UserProfile.css */
.user-profile-container {
    text-align: center;
    padding: 40px;
    background-color:#0a990f;
    text-align: right; /* Align the text to the right */
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: right;
    
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
  }
  
  .avatar-container {
    position: relative;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  input[type="file"] {
    position: absolute;
    bottom: 0;
    left: 0; 
    opacity: 0;
    cursor: pointer;
    background-color: black;
  }
  .profile-details {
    text-align: left;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .green-indicator {
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .green-indicator.hidden {
    display: none;
  }