/* LandingPage.css */
body {
  margin: 0;
  padding: 0;
}

.landing-page {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background-image: url('a\ landing\ page\ \ 1f4a8262-68ee-4790-b367-7569cdfe6fe7.png'); 
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Add text shadow for better contrast */
}

header {
  background-color: #008080; /* Deep Green or Teal */
  color: white;
  padding: 20px;
 
}




.hero-section {
  padding: 40px 0;
  background-color: #f0f0f0;
}

.features-section {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  margin: 0; /* Remove default margin */
}

.feature {
  max-width: 300px;
}

.cta-section {
  background-color: #008080; /* Deep Green or Teal */
  color: white;
  padding: 40px 0;
}

button {
  background-color: #5f9ea0; /* Soft Blue or Turquoise */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

footer {
  
  margin-top: 40px;
  padding: 10px 0;
  background-color: #008080; /* Deep Green or Teal */
  color: white;
}
